doctype html
html(lang='en')
    head
        block head
    body
        block heading
        nav
            ul
                li.active
                    a(href='/home') Home
                li
                    a(href='/register') Register
                li
                    a Login
        block content